.piano > *{
	font-family: arial;
}

.piano-read_csv {
	background-color: #f1f1f1;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
	margin: 10px;
	min-width: 400px;
	max-width: 650px;
}

.piano-read_csv-input, 
.piano-read_csv-output {
	padding: 15px;
}

.piano-read_csv-input > *, 
.piano-read_csv-output > * {
	display: block;
	padding: 5px 0;
}


.piano-read_csv-input-label, 
.piano-read_csv-output-label {
	color: #2196F3;
	font-weight: 700;
	padding: 5px 0;
}
.piano-read_csv-input-paragraph {
	font-size: 14px;
	line-height: 1.5;
	color: #616161;
}

.piano-read_csv-input-text {
	color: #2196F3;
}
.piano-read_csv-output-text {
	border: 1pt solid #cccccc;
}

textarea {
	color: #616161;
	font-family: arial;
	height: 100%;
	outline: none;
	width: 100%;
	line-height: 2;
}